/* CSS Document */
.bottom-container{
	position:absolute;
	top:2620px;
	width:100%;
	height:447px;
	background-color: #f6f9fa;
	z-index:0;
}
.bottom-container-content{
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-630px;
	width:1200px;
	height:447px;
}
.bottom-content-bilibili{
	margin-left:35px;
	margin-top:50px;
	width:395px;
	height:112px;
	font-size:14px;
}
.tips{
	margin-bottom: 22px;
	color: #99a2aa;
}
.cards{
	float: left;
    width: 110px;
    position: relative;
    margin-bottom: 16px;
}
.cards a{
	color:#000000;
} 
.cards a:hover{
	color:#00a1d6;
}
.bilibili{
	border-right: solid 1px #e5e9ef;
}
.bilibili-Client{
	display:flex;
	margin-top:40px;
}

.bilibili-Client i{
	width:60px;
	height:60px;
}
.bilibili-Client .clientText{
	margin-left:40px;
}
.bilibili-Client .weivoText{
	margin-left:18px;
}
.bilibili-Client .wechatText{
	margin-left:32px;
}
.bilibili-Client .ClientImg{
	margin-left:50px;
	background-position:-1024px -194px;
}
.bilibili-Client .WeiboImg{
	margin-left:20px;
	background-position:-1024px -322px;
}
.bilibili-Client .wechatImg{
	margin-left:20px;
	background-position:-1024px -66px;
}
.bilibili-Client a{
	color:#222;
}
.bilibili-Client a:hover{
	color:#00a1d6;
}
.bottom-container-top{
	width:1200px;
	height:200px;
	display:flex;
}
.bilibili-Information{
	width:1200px;
	height:230px;
	display:flex;
}
.bilibili-Information-Img{
	padding-top:20px;
	margin-left:30px;
	width:100px;
	height:200px;
}
.bilibili-Information-text{
	margin-left:20px;
	width:1000px;
	height:230px;
	color: #99a2aa;
	font-size:12px;
}
.bilibili-Information-text .textTop{
	margin-top:20px;
}
.bilibili-Information-text p{
	margin-bottom:10px;
}
.bilibili-Information-text a{
	color: #99a2aa;
}
.bilibili-Information-text a:hover{
	color: #222;
}
.bilibili-Information-text p .icons-footer-report{
	position:relative;
	top:4px;
	width:16px;
	height:16px;
	background-position: -1367px -89px;
}	
