.content-container{
	width:1180px;
	height:220px;
	display:flex;
}
.carousel-container{
	margin-left:4px;
	width:440px;
	height:220px;
	border-radius:6px;
	overflow:hidden;
	display:flex;
    box-shadow:inset 0px -95px 95px -95px #000; 
}
.slide_active{
	display: block;
}
.CarouselFirst{
	background-image: url(../image/contentImg/CarouselFirst.png);
	background-size:100% 100%;
}
.CarouselSecond{
	background-image: url(../image/contentImg/CarouselSecond.jpg);
	background-size:100% 100%;
}
.CarouselThird{
	background-image: url(../image/contentImg/CarouselThird.jpg);
	background-size:100% 100%;
}
.CarouselFour{
	background-image: url(../image/contentImg/CarouselFour.jpg);
	background-size:100% 100%;
}
.CarouselFive{
	background-image: url(../image/contentImg/CarouselFive.jpg);
	background-size:100% 100%;
}
.dots {
	position: absolute;
	left: 304px;
	top: 254px;
	z-index:2000;
	text-align: right;
}

.dots span {
	display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 8px;
	background: #FFFFFF;
    cursor: pointer;
    border: 1.5px solid #ffffff;
}

.dots span:hover{
    width: 8px;
    height: 8px;
	background: #0099FF;
    border: 1.5px solid #ffffff;
}
.dots span.active {
    width: 18px;
    height: 18px;
    border: 0px;
	background:url(../image/background/icon.png) no-repeat;
	background-position: -855px -727px;
}
.carousel-containerImg{
	margin-left:4px;
	width:440px;
	height:220px;
	border-radius:6px;
	overflow:hidden;
	z-index:1000;
}
.carousel-containerImg a{
	text-decoration:none;
}
.carousel-container li{
	list-style:none;
	padding-left:10px;
	padding-top:190px;
	font-size:14px;	
	color:#FFFFFF;
}
.item-container{
	width:720px;
	height:220px;
	float:left;
}
.item-content{
	width:160px;
	height:100px;
	margin: 0 0 20px 20px;
	float:left;
	z-index:3000;
	border-radius: 5px;
    box-shadow:inset 0px 15px 15px -15px #000,
             inset 0px -55px 55px -55px #000; 
}
.item-content image{
	position: relative;
	z-index:-1;
	border-radius: 5px;
}
.item-content-card-mark{
	margin:-20px 0 0 7px;
	color: #fff;
    height: 15px;
	font-size:12px;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
}
.item-content a{
	text-decoration:none;
}