.content{
	position:absolute;
	top:170px;
	left:50%;
	margin-left:-600px;
	width:1180px;
	height:520px;
}
.content-Navigation{
	padding-top:6px;
	width:1190px;
	height:58.8px;
}
.content-Navigation ul li{
	padding:0 12px;
	list-style:none;
	float:left;
}
.content-Navigation ul li a{
	text-decoration:none;
	color:#000000;
}
.content-Navigation ul li .indexIcon{
	background-position:-660px -1170px;
}
.content-Navigation-home{
	margin-top:-5px;
	font-size:12px;
    line-height: 20px;
}
.content-Navigation-nav{
	padding-left:4px;
	margin-top:0px;
	font-size:12px;
    line-height: 20px;
	
}
.content-Navigation-num{
	margin-top:9px;
    padding: 1px 4px 1px 4px;
	display: inline-block;
    vertical-align: top;
    height: 12px;
    line-height: 14px;
    max-width: 28px;
    background-color: #ffafc9;
    font-family: sans-serif,sans-serifsans-serif,Calibri,Arial,Helvetica;
    font-size: 12px;
    transform: scale(.85);
    color: #fff;
    border-radius: 3px;
}
.content-Navigation ul li .columnIcon{
	background-position: -87px -1814px;
}
.content-Navigation ul li .squareIcon{
	background-position: -87px -2006px;
}
.content-Navigation ul li .liveIcon{
    background-position: -87px -1878px;
}
.content-Navigation ul li .blackHouseIcon{
	background-position: -87px -1942px;
}
.content-Navigation-others{
	margin-left:-4px;
	margin-top:-9px;
	font-size:12px;
    line-height: 20px;
}
.content-Navigation ul .emptyIcon{
	padding:2px 13px 0 10px;
}
.content-Navigation-DynamicImg{
	float:left;
	width:62px;
	height:36px;
}
.content-Navigation-DynamicImg img{
	margin:4px 0 0 -2px;
	width:62px;
	height:36px;
    border-radius: 3px;
}



.sub-nav{
	display: none;
    position: absolute;
    overflow: hidden;
	width:120px;
    top: 44px;
    background: #fff;
    border: 1px solid\9;
    border-top: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    border-radius: 0 0 4px 4px;
    z-index:3000;
}
.sub-nav li{
    font-size: 12px;
    line-height: 30px;
    min-width: 120px;
	height:30px;
    overflow: hidden;
    text-align: left;
    transition: all .2s;
}
.sub-nav .Arrow{
	background-position: 0px -1621px;
}
.sub-nav .LeftArrow{
	margin-left:4px;
	background-position: 0px -1584px;
}
.sub-nav li:hover{
	background:  #ECECEC;
}
.sfhover{
	padding-left:5px;
}
.emptyIcon a:hover{
    color:#00a1d6;
}

.sub-nav .game{
	position:relative;
	top:1px;
	width:23px;
	height:12px;
	line-height:5px;
	background-position: -282px -1241px;
}
.sub-nav .pictureFriend{
	position:relative;
	top:1px;
	width:23px;
	height:14px;
	line-height:5px;
	background-position: -282px -1370px;
}
.sub-nav .Mango{
	position:relative;
	top:1px;
	width:23px;
	height:14px;
	line-height:5px;
	background-position: -280px -1433px;
}
.SquareImg{
	margin-left:100px;
	display: none;
    overflow: hidden;
	width:280px;
	height:215px;
    background: #fff;
    border-top: 0;
    box-shadow: 1px 1px 0px rgba(0,0,0,.16);
    border-radius:0 4px 4px 0;
    z-index:3000;
}
.LiveImg{
	margin-left:100px;
	display: none;
    overflow: hidden;
	width:250px;
	height:248px;
    background: #fff;
    border-top: 0;
    box-shadow: 1px 1px 0px rgba(0,0,0,.16);
    border-radius:0 4px 4px 0;
    z-index:3000;
	
}
.Square{
	height:215px;
}
.activity-Topic{
	margin:10px 0 0 0px;
	width:260px;
	height:190px;
	border-left:1px solid  #ECECEC;
}
.activity-Topic img{
	margin-left:20px;
	width:240px;
	height:84px;
}
.Live-Img-nav{
	margin:10px 0 0 0px;
	width:260px;
	height:220px;
	border-left:1px solid  #ECECEC;
}
.Live-Img-nav img{
	margin-left:20px;
	width:210px;
	height:100px;
}
.Live{
	height:248px;

}
.Square li a:hover{
	color:#000000;
}
.Live li a:hover{
	color:#000000;
}
.music{
	width:150px;
}
