/* CSS Document */
.special-recommendation-container{
	position:absolute;
	top:2350px;
	left:50%;
	margin-left:-611px;
	width:1200px;
	height:230px;
	display:flex;
}
.special-container-content{
	width:900px;
	height:230px;
}
.special-advertise{
	width:270px;
	height:230px;
	float:left;
}
.specialAdverImg{
	margin-top:46px;
	width:260px;
	height:150px;
}
.specialAdverImg img{
	width:260px;
	height:150px;
	border-radius:4px;
}
.special-container-Icon{
	margin-left:20px;
	width:880px;
	height:46px;
	display:flex;
	
}
.special-container-Icon .special-container-IconImg{
	background-position: -141px -780px;
}
.special-content{
	width:902px;
	height:184px;
	display:flex;
}
.special-content-item{
	margin-left:17px;
	width:160px;
	height:184px;
}
.special-content-item img{
	width:160px;
	height:100px;
	border-radius:4px;
}
.special-content-item-author{
	position: relative;
	top:-65px;
	width:160px;
	height:20px;
	display:flex;
	font-size:12px;
}
.special-content-item-author img{
	position:relative;
	top:-22.5px;
	left:5px;
	width:45px;
	height:45px;
	border-radius:50%;
}
.special-content-item-author .name{
	padding-left:10px;
	width: 68px;
	overflow:hidden;
	height:20px;
	color:#222;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.special-content-item-author span{
	padding-left:10px;
	width: 58px;
	height:20px;
	color:#222;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	float:left;
}
.special-content-item-author .tag{
	margin-left:0px;
	width: 25px;
	height:20px;
	float:left;
	color: #aaa;
}
.special-content-item p{
	margin-top:25px;
	width:160px;
	height: 40px;
	font-size:12px;
    line-height: 20px;
}
.special-content-item .content-itemImg{
	color:#222;
}
.special-content-item .content-itemImg:hover{
	color:#00a1d6;
}
.special-content-item a:hover{
	color:#00a1d6;
}
.special-content-item-author .author .name{
	color:#222;
}
.special-content-item-author .author .name:hover{
	color:#00a1d6;
}