*{
	padding:0px;
	margin:0px;
}

.icon i{
	display: inline-block;
	background:url(../image/background/icon.png) no-repeat;
	width:25px;
	height:25px;
	transform: scale(1);
}
.iconBigger i{
	display: inline-block;
	background:url(../image/background/icon.png) no-repeat;
	width:45px;
	height:45px;
	transform: scale(1);
}
.iconSmaller i{
	display: inline-block;
	background:url(../image/background/icon.png) no-repeat;
	width:14px;
	height:12px;
	transform: scale(1);
}
@font-face {
  font-family: 'iconfont';
  src: url('../image/icon/iconfont.eot');
  src: url('../image/icon/iconfont.eot?#iefix') format('embedded-opentype'),
      url('../image/icon/iconfont.woff2') format('woff2'),
      url('../image/icon/iconfont.woff') format('woff'),
      url('../image/icon/iconfont.ttf') format('truetype'),
      url('../image/icon/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.master-station{
	position:absolute;
	left: 1px;
    top: -1px;
    color: #00a1d6;
    font-size: 21px;
}
.download-station{
	position:absolute;
	left: 356px;
    top:0px;
    color: #00a1d6;
    font-size: 14px;
}
.user-station{
	position:absolute;
	left: 780px;
    top:9px;
	padding-left:4px;
	padding-top:4px;
	width:26px;
	height:26px;
    color: grey;
    font-size: 22px;
	background-color: #E9E9E9;
	border-radius:50%;
}
.topNavigation{
	position: absolute;
	left:50%;
	margin-left:-50%;
	top:0px;
	width:100%;
	height:42px;
    background-color: hsla(0,0%,100%,.6);
	z-index:9999;
}
.navigation{
	position:absolute;
	margin-left:-590px;
	left:50%;
	width:1180px;
	height:42px;
	display:flex;
}
.navigation-Left{
	width:460px;
	height:42px;
}
.navigation-Left ul{
	width:460px;
	height:42px;
	
}
.navigation-Left ul li{
	padding:0 7px;
	height:42px;
	font-size:12px;
	line-height:42px;
	float:left;
	list-style:none;
}

.navigation-Left ul li:hover{
    background-color: hsla(0,0%,100%,.3);
}
.navigation-Left ul li a{
	color:#000000;
	text-decoration:none;
}
.navigation-Left ul .home{
	padding-left:24px;
}

.navigation-Right{
	margin-left:266px;
	width:430px;
	height:42px;
}
.navigation-Right ul li{
	padding:0 7px;
	height:42px;
	font-size:12px;
	line-height:42px;
	float:right;
	list-style:none;
}
.navigation-Right ul li a{
	text-decoration:none;
}

.navColor a{
	color:#000000;
}
.navigation-Right-Contribute{
	display: block;
	width:54px;
    height: 46px;
    line-height: 42px;
    text-align: center;
    color:#ffffff;
    background-color: #f45a8d;
    border-radius: 0 0 6px 6px;
}
.navigation-Right-Contribute:hover{
    background-color: #fb7299;

}
.navigation-Right-Contribute a{
    font-size: 14px;
	color:#FFFFFF;
}
.navColor:hover{
    background-color: hsla(0,0%,100%,.3);	
}
.topBackground-search{
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-50%;
	width:100%;
    height: 170px;
    z-index: 199;
    background: #eee;
    background-repeat: no-repeat;
	background:url(../image/background/topNavigation.png) center -10px;
}
.topBackground-search-con{
	position:absolute;
	margin-left:-590px;
	left:50%;
	top:42px;
	width:1180px;
	height:128px;
	display:flex;
}
.topBackground-search-con img{
    position: absolute;
    width: 220px;
    height: 105px;
    left: 24px;
    top: 13px;
    background: transparent no-repeat 0;
    z-index: 10;
}
.topBackground-search .search{
	position: absolute;
    bottom: 20px;
    right: 26px;
	width:330px;
	height:36px;
}
.topBackground-search .search .ranking{
	position: absolute;
    left: 2px;
    top: 2px;
    height: 32px;
    line-height: 32px;
    background-color: #fff;
    background-color: hsla(0,0%,100%,.88);
    border-radius: 4px;
    width: 68px;
    transition: background-color .2s;
	display:flex;
}
.topBackground-search .search a{
	font-size:12px;
	text-decoration:none;
	color: #f25d8e;
}
.search .ranking .rankingPosition{
	background-position:-659px -655px;
}
.topBackground-search .search .searchInput{
	margin:2px 0 0 72px;
	width:260px;
    height: 32px;
    border-radius: 4px;
	background-color: hsla(0,0%,100%,.88);
    display: block;
    transition: background-color .2s;
}
.topBackground-search .search .searchInput input{
	float: left;
    width: 200px;
    color: #222;
    font-size: 12px;
    overflow: hidden;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    border: 0;
    box-shadow: none;
    background-color: transparent;
}
.topBackground-search .search .searchInput button{
	display: block;
    position: absolute;
    right: 3px;
    width: 42px;
    min-width: 0;
    cursor: pointer;
    height: 32px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent; 
}
.topBackground-search .search .searchInput button:hover{
	color:#FF0000;
}
.topBackground-search .search .searchInput button .searchIcon{
	background-position:-660px -725px;
}

.box{
	display:none;
    position: absolute;
	width: 466px;
    height: 256px;
    border-radius: 0 0 4px 4px;
	font-size:12px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
    background: #fff;
	display:none;
}
.box-left{
    margin: 12px 0 0 0;
	width: 265px;
    float: left;
}
.box-left-banner img{
	margin-left:12px;
	width:240px;
	height:148px;
	border-radius: 4px;
}
.box-left-banner a{
    position: relative;
    width: 240px;
    height: 148px;
    display: block;
}
.box-left-banner span{
    position: absolute;
    bottom: 0px;
    left: 10px;
    padding: 0 10px;
	width: 220px;
    color: #fff;
    line-height: 30px;
    border-radius: 4px;
    text-shadow: 1px 1px 1px #000;
}
.box-left-smallgame{
	margin-top: 6px;
	width: 265px;
}
.box-left-smallgame img{
	width:64px;
	height:64px;
	border-radius: 12px;
}
.box-left-smallgame a{
    width: 64px;
    height: 104px;
    padding: 0px 12px 0;
    display: block;
    float: left;
    overflow: hidden;
}
.box-left-smallgame span{
    margin: 8px auto;
    width: 4em;
    height: 14px;
    color: #222;
    display: block;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    overflow: hidden;
}
.box-right-Trailer{
	width: 201px;
    min-height: 234px;
    margin: 12px 0 0 0;
    float: left;
    background: url(../image/top-ContainerImg/line.png) no-repeat;
}
.box-right-content{
	padding: 35px 0 0 6px;
    background:  url(../image/top-ContainerImg/title.png) no-repeat;
}
.box-right-content a{
	padding-left: 16px;
    display: block;
    font-size: 12px;
    line-height: 28px;
    color: #222;
	overflow:hidden; 
	white-space:nowrap;	
}
.box-right-content a:hover{
	background:#ECECEC;
    color:#00a1d6;
}

.top-live-SecLevel{
	position:absolute;
	width: 504px;
    padding: 20px 0 20px 20px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    background: #fff;
	display:none;
}
.hot-live{
	float: left;
    width: 254px;
}
.hot-live .title,.hot-activity .title{
	font-size: 14px;
    color: #ea759f;
    margin-top:-10px;
}
.hot-live-content{
    margin-top: -3px;
	font-size: 12px;
    border-right: 1px solid #eaeaea;
}
.hot-live-content img{
	width:64px;
	height:64px;
	border-radius:50%;
}
.hot-live-content a{
	position: relative;
    display: inline-block;
    margin: 0px 17px 0 0;
    width: 64px;
    height: auto;
	font-size:12px;
}
.hot-live-content .title-content{
	margin: -6px 0 0;
	line-height:35px;
    text-align: center;
    color: #000;
    width: 100%;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.hot-activity{
    width: 229px;
    padding-left: 21px;
	float: left;
}
.hot-activity-content{
	margin-top:-14px;
	height:170px;
	display:block;
}
.hot-activity-content a{
	display: block;
    padding: 10px 21px;
    margin-left: -21px;
    width: 208px;
    height: 80px;	
}
.hot-activity-content a:hover{
	background-color:#ECECEC;
}
.hot-activity-content img{
	display: block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.BW-top-SecLevel{
	display:none;
	margin-left:10px;
	position: absolute;
    background: #fff;
    width: 375px;
	height:231px;
    padding: 12px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.BW-top-SecLevel a{
	display: block;
    position: relative;
	margin-bottom: 12px;
}
.BW-top-SecLevel img{
	width: 375px;
    height: 110px;
    border-radius: 4px;
}
.BW-top-SecLevel span{
	position: absolute;
    color: #fff;
    left: 0;
    bottom: 0;
    width: 375px;
    line-height: 24px;
    padding-left: 10px;
    border-radius: 4px;
    text-align: left;
    box-sizing: border-box;
    background: linear-gradient(transparent,rgba(0,0,0,.6));
}

.download-top-SecLevel{
	display:none;
	position: absolute;
	left:330px;
    background: red;
    width: 259px;
    height: 174px;
    background: url(../image/top-ContainerImg/orcode-frame.png);
}
.download-top-SecLevel img{
	margin:30px 0 0 85px;
	width:90px;
	height:90px;
}


.Member-top-SecLevel{
	display: none;
	position: absolute;
    z-index: 999;
	width: 260px;
    margin-left: -107px;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    border: 1px solid #e5e9ef;
    text-align: left;
    font-size: 0;
}
.Member-top-title{
	padding: 5px 14px 14px 14px;
	color: #212121;
    font-size: 14px;
    margin: 0px 0 12px;
    font-weight: 900;
}
.Member-top-content{
	margin-top:-20px;
	height:150px;
}
.Member-top-item{
	width: 50%;
	display: inline-block;
    margin-bottom: 7px;
}
.Member-top-item img{
    width: 107px;
    height: 143px;
	border-radius: 4px;
    background: #ccc;
    display: block;
}

.Member-content-title{
	font-size:12px;
	height:40px;
	color:#000000;
	z-index:999;
}
.Member-content-title a{
	line-height:15px;
	margin:3px 0 7px 15px;
	margin-left:15px;
	width: 40%;
	display: inline-block;
}
.Member-content-title a:hover{
	color: #FF3300;
}
.Member-content-btn{
	margin-top: 20px;
	margin-bottom:20px;
    text-align: center;
    position: relative;
}
.Member-content-btn button{
	width: 160px;
    height: 32px;
    background: #00a1d6;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
.Member-content-btn button:hover{
	opacity:0.9;
}


.top-Message-SecLevel{
	display:none;
	width: 110px;
    position: absolute;
	margin-left:-38px;
    background: #fff;
    box-shadow: rgba(0,0,0,0.16) 0px 2px 4px;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    transition: all 300ms;
}
.top-Message-SecLevel a{
	text-align:center;
	display:block;
	width:110px;
}
.top-Message-SecLevel a:hover{
	background-color: #ECECEC;
	opacity:0.9;
	color:#00a1d6;
}


.top-later-SecLevel{
	display:none;
	position: absolute;
	margin-left:-130px;
    background-color: #fff;
    width: 320px;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    border: 1px solid #e5e9ef;
    border-radius: 0 0 4px 4px;
    z-index: 200;
}
.top-later-SecLevel ul{
	margin-top:10px;
    width: 320px;
}
.top-later-SecLevel ul li{
    width: 307px;
	list-style: inside;
}
.top-later-SecLevel ul li:hover{
	background-color:#ECECEC;
}
.top-later-SecLevel ul li{
	height:30px;
	line-height:30px;
}
.no-data{
	color: #aaa;
}
